$goldColor: #d7c8b6;
$secColor:#c85867;
$heder: 'Viner Hand ITC';
$text: 'Bold Italic Art';
$float-left:left;
$float-right: right;
$right: right;
$left: left;
$maxMobaile:'(max-width: 767px)';
$maxSmall:'(max-width: 991px)';
$minSmall:'(min-width: 768px)';
$minMedium:'(min-width: 992px)';
$minLarge:'(min-width: 1200px)';